/* Variables */
:root {
  --index-bg: transparent;
  --schedule-bg: transparent;
  --cell-bg: transparent;
  --cell-text: transparent;
  --cell-width: auto;
  --version-text: transparent;
  --button-bg: transparent;
  --return-bg: transparent;
}

/* Disable text selection  */
* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#scheduleBody {
  background-color: var(--schedule-bg);
}

#body {
  background-color: var(--index-bg);
}

#version {
  position: absolute;
  width: 100%;
  top: 99%;
  left: 1%;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#outer {
  position: absolute;
  width: 100%;
  top: 1%;
  left: 1%;
}

#button {
  display: table;
  width: 5rem;
  height: 3vh;
}

/* Schedule style */
#return {
  display: table;
  width: 5rem;
  height: 3vh;
}

#outerSchedule {
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#schedule {
  display: table;
  width: 70%;
  height: 10vh;
  margin: 0 auto;

}

#table {
  width: 100%;
  height: 10vh;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 1px solid;
  margin: 0 auto;
}