/* Disable text selection  */
* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

#outer {
  position: absolute;
  margin-top: 80%;
  width: 100%;
}

#button {
  display: table;
  margin: 0 auto;
  width: 35%;
  height: 6vh;
}